<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">App auth</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home </a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/precios']">Precios</a>
      </li>
      <li class="nav-item" *ngIf="auth.loggedIn" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/protegida']">Protegida</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button
        class="btn btn-outline-success"
        (click)="auth.login()"
        *ngIf="!auth.loggedIn"
      >
        Ingresar
      </button>
      <button
        class="btn btn-outline-danger"
        (click)="auth.logout()"
        *ngIf="auth.loggedIn"
      >
        Salir
      </button>
    </span>
  </div>
</nav>
